<ion-header>
    <ion-grid no-padding>
        <ion-row class="title">
            <ion-col class="left">
              <ion-button fill="clear" color="white" block (click)="goBack()">
                <fa-icon [icon]="faChevronCircleLeft" size="2x"></fa-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto" style="padding-top: 19px;">
              Cidade Coletiva
            </ion-col>
            <ion-col class="right">
              <ion-button fill="clear" color="white" block (click)="goToMapa()">
                <fa-icon [icon]="faCompass" size="2x"></fa-icon>
              </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
  <ion-grid *ngIf="pt">
    <ion-row no-padding>
      <div class="text">
        <ion-col>
          <div class="ponto">
              <ul>
                <li class="description">{{pt.description}}</li>
                <li class="pontoId">{{pontoLocation}}</li>
                <li class="pontoId">{{pt.username}}</li>
                <!-- <li class="pontoId">{{pt._id}}</li> -->
              </ul>
          </div>
        </ion-col>
        <ion-col>
          <div class="distance">{{distance}}m</div>
        </ion-col>
      </div>
    </ion-row>
    <ion-row class="files" *ngIf="pt.files">
      <ion-list *ngFor="let image of pt.files; index as i">
        <ion-item>
          <img src="{{urlBase}}/img/{{image}}" />
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>