<ion-header>
    <ion-grid no-padding>
        <ion-row class="title">
            <ion-col class="left">
              <fa-icon [icon]="faInfoCircle" size="2x"></fa-icon>
            </ion-col>
            <ion-col size="auto" style="padding-top: 19px;">
              Cidade Coletiva
            </ion-col>
            <ion-col class="right">
              <fa-icon [icon]="faCompass" size="2x"></fa-icon>
            </ion-col>
          </ion-row>  
    </ion-grid>
</ion-header>
  
<ion-content>
  <div id="map"></div>
</ion-content>
  