<ion-header>
  <ion-toolbar>
    <ion-title>Pontos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let ponto of pontos">
          <ion-icon [name]="item.icon" slot="start"></ion-icon>
          {{ponto.description}}
          <div class="item-note" slot="end">
            {{ponto.address}}
          </div>
        </ion-item>
      </ion-list>
      <!--
        <div *ngIf="selectedItem" padding>
          You navigated here from <b>{{selectedItem.title }}</b>
        </div>
      -->    
</ion-content>
