@import url(https://fonts.googleapis.com/css?family=Montserrat);
$font-family-base: "Montserrat", sans-serif !default;

ion-button {
    text-decoration: none;
    color: #FFF;
}

ion-content {
    font-family: 'Montserrat', sans-serif;
}

button {
    width: 100%;
    background-color: white;
}

ul > li {
    // float: left;
    text-align: left;
    list-style-type: none;
}

.points {
    float: left;
    width: 80%;
    color: #888;    
    font-family: 'Montserrat', sans-serif;
}

.points-title {
    font-weight: 900;
    color: #000;    
} 

.title {
    //position: absolute;
    // top: 0;
    // left: 0;
    padding-top: 15px;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #FFF;
    background-color: #019879;
}

.left {
    padding-left:20px; text-align: left;
}

.right {
    padding-right:20px; text-align: right;
}

.no-padding {
    padding: 0px !important;
}

.distance {
    color:  #019879;
}