<ion-header>
  <ion-toolbar>
    <ion-title>Cidade Coletiva</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let pt of pontos">
          <!-- <a nav-transition="none" href="ponto/{{pt._id}}">
            <ion-icon [name]="pt.type.icon" slot="start"></ion-icon>
            {{pt.description}}
            <div class="item-note" slot="end">
              {{pt.address}}
            </div>
          </a> -->
          <button ion-button icon-only (click)="getPonto(pt._id)">
            <ion-icon [name]="pt.type.icon" slot="start"></ion-icon>
            {{pt.description}}
            <div class="item-note" slot="end">
              {{pt.address}}
            </div>
          </button>
        </ion-item>
      </ion-list>
      <!--
        <div *ngIf="selectedItem" padding>
          You navigated here from <b>{{selectedItem.title }}</b>
        </div>
      -->    
</ion-content>
